/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    background-color: #b8caaa;
    color: #131817;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #9dce76;
    width: 100%;
    padding: 3px;
    position: fixed;
    top: 0;
    z-index: 2
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

h3 {
    text-align: center;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

section {
    text-align: center;
}

input {
    padding: 7px;
    border-radius: 10px;
    margin: 10px 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
}

button {
    padding: 10px 7px;
    border-radius: 10px;
    margin: 3px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
    background-color: #9dce76;
    border: 1px solid black;
}

table {
    width: 90%;
}

ul {
    margin-left: 10%;
    text-align: left;
}

li {
    margin: 10px;
}

footer {
    background-color: #9dce76;
    width: 100%;
    padding: 3px;
    position: fixed;
    bottom: 0;
    z-index: 2
}

footer>a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
    padding: 2px;
    margin: 3px 10px;
}

footer>a:hover {
    background-color: #b8caaa;
    border: 1px solid black;
    border-radius: 5px;
}

.ranking {
    display: none;
}

.shuffle {
    display: none;
}

.warning {
    color: red;
    display: none;
    margin: 2px;
}

.cancel-button {
    display: none;
}

input[type=number] {
    width: 15%;
    font-size: 12px;
}

#add-player {
    margin-top: 85px;
}

#teams {
    width: 100%;
}

#team-a {
    float: left;
    margin: 3%;
}

#team-b {
    float: right;
    margin: 3%;
}

#ranking-message {
    clear: both;
}

#shuffle-message {
    clear: both;
}

#how-it-works {
    margin: 20px 5px 20px 5px;
}

#top {
    float: left;
}

#how {
    float: right;
}

.ranking-on {
    display: block;
}

.shuffle-on {
    display: block;
}

.warning-on {
    display: block;
}

.delete-player {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.delete-player:hover {
    background-color: red;
    color: white;
}

.cancel-button-on {
    display: inline;
}

/* For Screens 900px wide and up */
@media screen and (min-width: 900px) {

    main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: none;
        width: 90%;
        margin-top: 100px;
    }

    section {
        width: 33%;
        max-width: 350px;
    }

    #add-player {
        margin-top: 0;
    }

    #how-it-works {
        margin: 40px 5px;
        width: 90%;
        max-width: 90%;
    }
}