/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    background-color: #b8caaa;
    color: #131817;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #9dce76;
    width: 100%;
    padding: 3px;
    position: fixed;
    top: 0;
    z-index: 2
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

h3 {
    text-align: center;
    margin: 5px;
}

section {
    text-align: center;
    max-width: 350px;
}

input {
    padding: 7px;
    border-radius: 10px;
    margin: 10px 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
}

button {
    padding: 12px 7px;
    border-radius: 10px;
    margin: 5px 5px 30px 5px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
    background-color: #9dce76;
    border: 1px solid black;
}

ul {
    margin-left: 10%;
    text-align: left;
}

li {
    margin: 10px;
}

footer {
    background-color: #9dce76;
    width: 100%;
    padding: 3px;
    position: fixed;
    bottom: 0;
    z-index: 2
}

footer > a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
    padding: 2px;
    margin: 3px 10px;
}

footer > a:hover {
    background-color: #b8caaa;
    border: 1px solid black;
    border-radius: 5px;
}

input[type = number] {
    width: 15%;
    font-size: 12px;
}

#add-player {
    margin-top: 100px;
}

#team-a-heading {
    float: left;
    width: 50%;
}

#team-b-heading {
    float: right;
    width: 50%;
}

#team-a {
    float: left;
    width: 50%;
}

#team-b {
    float: right;
    width: 50%;
}

#how-it-works {
    margin: 300px 5px 40px 5px;
}

#top {
    float: left;
}

#how {
    float: right;
}

.delete-player {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.delete-player:hover {
    background-color: red;
    color: white;
}

/* For Screens 950px wide and up */
@media screen and (min-width: 950px) {

    #player-list-heading {
        position: fixed;
        top: 100px;
        left: 60px;
    }

    #player-list {
        position: fixed;
        top: 120px;
        left: 60px;
    }

    #teams {
        position: fixed;
        top: 100px;
        right: 25px;
    }

    #team-a-heading {
        width: 45%;
    }
    
    #team-b-heading {
        width: 45%;
    }

    #how-it-works {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }
}